body{
    background: rgb(49,204,37);
background: radial-gradient(circle, rgba(49,204,37,1) 0%, rgba(198,28,180,1) 100%);
}
h1{
    text-align: center;
    padding: 40px 50px;
    font-size: 30px;
    color: rgb(30, 100, 90);
    border: 10px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: none ;
}

.styled-image{
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

p{
    font: 600 32px 'outfit', 'san-serif';
    text-align: center;
}

nav{
    background-color: green;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: wheat;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

nav ul li a:hover{
    background-color: #5a32a8;
    color: whitesmoke;
}

nav ul li a.active{
    background-color: #3e32a8;
    color: white;
}

/* style.css */
#balloon-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.balloon {
    position: absolute;
    bottom: -100px; /* Start off-screen */
    width: 50px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    animation: floatUp 5s linear infinite;
}

@keyframes floatUp {
    0% {
        bottom: -100px;
        opacity: 1;
    }
    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
}

input[type="text"]::placeholder{
    color: blue;
    font-style: italic;
}

button{
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* Slideshow container */

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider {
    0%{
        left: 0;

    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}